.main{
    width: 40%;
    padding: 40px 0;
    display: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 30%;
}

.historiesbar{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}
.histories{
    flex: auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profilepic{
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top:0px;
    color: rgba(0, 0, 0, 0.5)
}